[Desktop Entry]
Type=Application
Name=Altitude Services
Comment=Administrer les services Altitude pilotés par BDB
Exec=/bin/minibash-services
Icon=applications-system
Terminal=false
Categories=System;Settings;Utility;
Keywords=altitude;bdb;service;daemon;
